.navbar{
  text-align: center;
  height: 75px;
  position:sticky;
  font-size: 16px;
   background-color: #f4d742;
}
.navbar-header {
  text-align: center;
  text-transform: capitalize;
}
.jumbotron {
  text-align: center;
  font-size: 50px;
  background-color: blue;
  background-image: image(A.png);
}
.thumbnail img:hover{
  transform: scale(1.8);
}
#panelbody{
  padding: 10px;
}
#User-Details {
  font-size:20px;
  font-weight: bold;
  column-fill:
}
.panel {
  text-align: center;
}
#info{
  display: none;
}
